.logged-in-user-message {
    border-bottom-right-radius: 0px !important;
}

.other-user-message {
    border-bottom-left-radius: 0px !important;
}

#chat-window {
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
}