.ttr-navigation a > i {
    width: 40px;
    text-align: center;
}

.ttr-navigation li,
.ttr-navigation a {
    border: none;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 767px) {
    .nav-group {
        display: flex;
        flex-direction: row;
    }
}
