.logged-in-user-message {
    border-bottom-right-radius: 0px !important;
}

.other-user-message {
    border-bottom-left-radius: 0px !important;
}

.inbox-item:hover {
    background-color: rgb(47, 51, 54) !important;
    transition: 0.4s ease-in-out;
}