#chat-window {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
}

#chat-frame {
    height: 80vh;
}

.chat-input {
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* color of the thumb */
}